:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --white: #ffffff;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

/* Estilos para navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  border-bottom: 1px solid var(--very-light-pink);
  padding: 20px 0;
}

.menu {
  display: none;
  margin-left: 24px;
}
.navbar-left {
  display: flex;
  margin-left: 24px;
}
.navbar-left img {
  width: 120px;
}

.navbar-left ul,
.navbar-right ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar-left ul {
  margin-left: 20px;
}
.navbar-right {
  display: flex;
  margin-right: 40px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  padding: 8px 12px;
  border: 1px solid var(--white);
  margin: 0 4px;
  border-radius: 12px;
}
.linkMenu:hover {
  color: var(--hospital-green);

  border: 1px solid var(--hospital-green);
}
.email {
  cursor: pointer;
  margin-right: 20px;
}
.icon-shopping-cart {
  position: relative;
}
.icon-shopping-cart div {
  border-radius: 50%;
  background: var(--hospital-green);
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  font-size: var(--sm);
  font-weight: bold;

  align-items: center;
  position: absolute;
  top: -7px;
  right: -6px;
}

/* Estilos para el menu despegable del navbar*/
.menu-desktop {
  position: absolute;
  top: 69px;
  right: 73px;
  background: var(--white);
  width: 160px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  background: var(--white);
}
.menu-desktop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-desktop ul li {
  text-align: end;
}
.menu-desktop ul li:nth-child(1),
.menu-desktop ul li:nth-child(2) {
  font-weight: bold;
}
.menu-desktop ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.menu-desktop ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.menu-desktop ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/* Estilos para el menu mobile */
.menu-mobile {
  position: absolute;
  top: 70px;
  padding: 16px 0;
  height: auto;
  background: var(--white);
  left: 0;
  width: 100%;
}
.menu-mobile ul {
  list-style: none;
  margin: 24px 32px 0 32px;
  padding: 0;
}

.menu-mobile ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.menu-mobile ul:nth-child(3) li {
  margin: 4px 0;
}

.menu-mobile ul li {
  margin-bottom: 28px;
}
.menu-mobile ul li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.menu-mobile .emailMenu {
  color: var(--very-light-pink);
  font-weight: 300;
  font-size: var(--sm);
}
.menu-mobile .signOut {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Estilos para el carrito-menu */
.my-order {
  /* width: 100%; */
  display: grid;
  place-content: center;
  background: var(--white);
  position: absolute;
  top: 70px;
  right: 0;

  /* height: 100vh; */
}
.my-order-container {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  width: 360px;
  background: var(--white);
  padding: 0 20px;

  /* height: 100vh; */
}
.title-container {
  display: flex;
  align-items: center;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 16px;
  width: 20px;
  height: 20px;
}
.title {
  font-size: var(--md);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 12px 0 16px;
  background: var(--text-input-field);
  border-radius: 8px;
  align-items: center;
  margin: 24px 0;
}
.order p {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
  font-size: var(--md);
}

.my-order-product {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  align-items: center;
  padding: 0 12px 0 0;
}
.my-order-product figure {
  margin: 10px 0 10px 0;
  display: flex;
}

.my-order-product figure img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
#close-icon {
  width: 20px;
  height: 20px;
  margin: 0;
}
#close-icon:hover {
  cursor: pointer;
}
.my-order-product p:nth-child(2) {
  color: var(--very-light-pink);
  font-weight: 500;
}
.my-order-product p:nth-child(3) {
  font-weight: bold;
  font-size: var(--lg);
}
.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  background-color: var(--hospital-green);
  font-size: var(--sm);
  font-weight: bold;
  color: var(--white);
}
.button-checkout {
  margin-bottom: 20px;
}
.inactive {
  display: none;
}

/* productos inicio */

.cards-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    240px
  ); /* auto-fill-> ocupa el espacio disponible*/
  gap: 20px;
  place-content: center;
  margin-top: 36px;
}
.card {
  width: 240px; /* el contenedor de cada carda tendra un ancho de 240px */
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
.card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-items figure img {
  width: 35px;
  height: 35px;
}
.card-items figure {
  margin: 0;
}
.card-items div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-bottom: 4px;
}
.card-items div p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
}

/* product detail */
.product-detail {
  width: 360px;
  position: absolute;
  right: 0;
  background: var(--white);
}
.close-detail {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
}
.close {
  width: 16px;
  height: 16px;
}
.product-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.product-info {
  margin: 24px 24px 0 24px;
}
.product-info-details p:nth-child(1) {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: var(--lg);
}
.product-info-details p:nth-child(2) {
  margin-top: 0;
  font-size: var(--md);
  color: var(--very-light-pink);
  font-weight: lighter;
}
.product-info-details p:nth-child(3) {
  margin-top: 0;
  font-size: var(--md);
  color: var(--very-light-pink);
  font-weight: lighter;
}
.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  background-color: var(--hospital-green);
  font-size: var(--sm);
  font-weight: bold;
  color: var(--white);
}
.primary-button img {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  color: var(--white);
}
.button-add {
margin: 40px 0;
}

@media (max-width: 640px) {
  .menu {
    display: block;
    width: 32px;
  }
  .navbar-left ul {
    display: none;
  }
  .email {
    display: none;
  }
  .menu-desktop {
    display: none;
  }
  /* productos inicio */
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .card {
    width: 140px; /* el contenedor de cada carda tendra un ancho de 240px */
  }
  .card img {
    width: 140px;
  }

  /* product detail */
  .product-detail {
    width: 100%;
  }

  .my-order {
    width: 100%;
  }
}

@media (min-width: 641px) {
  .menu-mobile {
    display: none;
  }
  .my-order-container {
    /* position: absolute; */
    /* right: 0; */
  }
}
